<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ssm.dao.mybatis.mappers.BlogMapper">
  <select id="findOne" resultMap="blogDetailsMap">
		select b.id blog_id, b.title blog_title, a.id author_id, a.name author_name, 
		       p.id post_id, p.subject post_subject, p.content post_content
		  from blogs b inner join authors a on b.author_id = a.id left join posts p on p.blog_id = b.id
		  where b.id = #{id}
  </select>
  
  <resultMap type="Blog" id="blogDetailsMap">
<!--   	Blog blog = new Blog(); -->
<!--   	blog.setId(getColumn('blog_id')); -->
<!--   	blog.setTitle(getColumn('blog_title')); -->

<!--   	blog.setAuthor(...); -->
<!--   	Author author = new Author(); -->
<!--   	author.setId(getColumn('author_id')); -->
<!--   	author.setName(getColumn('author_name')); -->

<!-- 		blog.setPosts(...); -->
<!-- 		对于每一行，取最后三列封装成post列表 -->
<!-- 		Post post = new Post(); -->
<!-- 		post.setId(getColumn('post_id')); -->
<!-- 		post.setTitle(getColumn('post_subject')); -->
<!-- 		post.setContent(getColumn('post_content')); -->
  	
<!--   	主键属性用<id>, 非主键属性用<result>, 对一关系用<association>, 对多关系用<collection> -->  	
  	<id property="id" column="blog_id" />
  	<result property="title" column="blog_title"/>
  	<association property="author" javaType="Author">
  		<id property="id" column="author_id"></id>
  		<result property="name" column="author_name"/>
  	</association>
  	<collection property="posts" ofType="Post">
  		<id property="id" column="post_id"></id>
  		<result property="title" column="post_subject"/>
  		<result property="content" column="post_content"/>
  	</collection>
  </resultMap>
</mapper>