<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ssm.dao.mybatis.mappers.CustomerMapper">
  <select id="findAll" resultType="ssm.entity.Customer">
		SELECT id, name, address, vip, picture_path 
			FROM CUSTOMERS order by id desc
			offset #{offset} limit #{limit}
  </select>
  
  <select id="count" resultType="long">
    select count(*) from customers
  </select>  
  
  <select id="findOne" resultType="ssm.entity.Customer">
    SELECT * FROM CUSTOMERS where id = #{id}
  </select>
  
  <update id="update">
  	update customers 
  	    set name = #{name}, address = ?, vip = #{vip}, picture_path = #{picturePath}
		where id = #{id}
  </update>  
  
  <delete id="delete">
  	delete from customers where id = #{id}
  </delete> 
  
  <delete id="batchDelete">
<!--     ${}原封不动的插入，用于拼接SQL语句，注意考虑SQL注入风险 -->
  	delete from customers where id in ${idInList}
  </delete>   
  
  <insert id="create">
  	insert into customers(name, address, vip, picture_path) 
  	  values(#{name}, #{address}, #{vip}, #{picturePath})
  </insert>
</mapper>